@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

:root {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Manrope", sans-serif;
  --bg-primary: #EAE7DE;
  /* Creamy editorial background */
  --text-primary: #1A1A1A;
  /* Soft black */
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  font-weight: 400;
  /* Editorial look often uses lighter weights for display */
}